<f:if condition="{field.name}">
    <p class="{blockClass}__message -error{f:if(condition:'!{field.validationResult.errors}', then:' --hidden')}" data-yf-error>
        <f:if condition="{field.validation_message}">
            <f:then>
                <span>{field.validation_message}</span>
            </f:then>
            <f:else>
                <f:for each="{field.validationResult.errors}" as="error">
                    <span style="display: block">{error.message}</span>
                </f:for>
            </f:else>
        </f:if>
    </p>
</f:if>