<f:if condition="{field.name}">
    <div class="{blockClass}__error{f:if(condition:'{field.validationResult.errors}', then:' --visible')}" data-yf-error>
        <f:if condition="{field.validation_message}">
            <f:then>
                <div>{field.validation_message}</div>
            </f:then>
            <f:else>
                <f:for each="{field.validationResult.errors}" as="error">
                    <div>{error.message}</div>
                </f:for>
            </f:else>
        </f:if>
    </div>
</f:if>