<f:render partial="Element" contentAs="content" arguments="{_all}">
	<f:render partial="Control/Label" arguments="{_all}"/>
	<f:for each="{field.field_options}" as="option">
		<f:form.radio name="{namespace}[{field.identifier}]"
					  checked="{field.sessionValue} == {option.value}"
					  value="{option.value}"
					  additionalAttributes="{shape:formFieldAttributes(record:field)}"
					  class="{blockClass}__control {blockClass}__{field.type}-control"
					  id="{fieldIdPrefix}{field.identifier}-{option.value}"/>
		<label class="{blockClass}__label" for="{fieldIdPrefix}{field.identifier}-{option.value}">{option.label}</label>
	</f:for>
	<f:render partial="Control/Description" arguments="{_all}"/>
</f:render>