<f:variable name="fieldWidthStyle"
			value="--yform-el-width:{field.width}%;"/>

<div class="{blockClass}__element -type-{field.type} -{currentPage.type}-step {field.css_class}{f:if(condition:'{field.js_display_condition}',then:' -hidden')}{f:if(condition:'{session.fieldErrors.{field.identifier}}', then:' -has-errors')}"
	 data-wrap-for="{field.identifier}"
	 data-shape-condition="{field.js_display_condition}"
	 style="{fieldWidthStyle}">

	{content -> f:format.raw()}

	<f:render partial="Control/Errors" arguments="{_all}"/>
</div>
