<f:variable name="fieldWidthStyle"
			value="--shape-field-width:{field.width}%;"/>

<div class="{blockClass}__fieldwrap -type-{field.type} -{currentPage.type}-step {field.css_class} {f:if(condition:'{field.js_display_condition}',then:'-hidden')}"
	 data-wrap-for="{field.identifier}"
	 data-shape-condition="{field.js_display_condition}"
	 style="{fieldWidthStyle}">
	{content -> f:format.raw()}
	<f:if condition="{session.fieldErrors.{field.identifier}}">
		<div class="{blockClass}__field__errors">
			<f:for each="{session.fieldErrors.{field.identifier}}" as="error">
				<div>{error.message}</div>
			</f:for>
		</div>
	</f:if>
</div>