
<f:form class="{blockClass}__form"
		id="c{contentData.uid}-f{form.uid}"
		action="{action}"
		name="{formName}"
		autocomplete="on"
		enctype="multipart/form-data"
		data-shape-form="{form.title}"
		pageUid="{contentData.pid}"
		arguments="{pageIndex:forwardStepPageIndex}">

	<h2 class="{blockClass}__form__header">{form.title}</h2>

	<f:if condition="{currentPage.type} == 'summary'">
		<f:then>
			<f:for each="{form.pages}" as="page">
				<div class="{blockClass}__page">
					<f:if condition="{page.title}">
						<h3 class="{blockClass}__page__header">{page.title}</h3>
					</f:if>
					<fieldset class="{blockClass}__fieldset -summary-step" disabled>
						<f:alias map="{fields: page.fields, namespace:formName}">
							<f:render partial="Fields" arguments="{_all}"></f:render>
						</f:alias>
					</fieldset>
				</div>
			</f:for>
		</f:then>
		<f:else>
			<div class="{blockClass}__page">
				<f:if condition="{currentPage.title}">
					<h3 class="{blockClass}__page__header">{currentPage.title}</h3>
				</f:if>
				<fieldset class="{blockClass}__fieldset">
					<f:alias map="{fields: currentPage.fields, namespace:formName}">
						<f:render partial="Fields" arguments="{_all}"></f:render>
					</f:alias>
				</fieldset>
			</div>
		</f:else>
	</f:if>

	<div class="{blockClass}__navigation">
		<f:if condition="!{isFirstPage}">
			<button type="submit"
					class="{blockClass}__navigation__button -prev {buttonClass}"
					formnovalidate
					formaction="{f:uri.action(action:'renderStep', arguments:{pageIndex:backStepPageIndex})}">
				{currentPage.prev_label}
			</button>
		</f:if>
		<button type="submit"
				class="{blockClass}__navigation__button -next {buttonClass}">
			{currentPage.next_label}
		</button>
	</div>

	<div>
		<f:form.hidden name="session" value='{sessionJson}'/>
		<f:render partial="SpamProtection" arguments="{_all}"/>
	</div>

</f:form>
