<f:if condition="{messages}">
    <div class="{blockClass}__page">
        <div class="{blockClass}__message-list">
            <f:for each="{messages}" as="message">
                <f:if condition="{message.key}">
                    <f:then>
                        <p class="{blockClass}__message -{message.type}">
                            {f:translate(key: message.key)}
                        </p>
                    </f:then>
                    <f:else>
                        <p class="{blockClass}__message">
                            {message}
                        </p>
                    </f:else>
                </f:if>
            </f:for>
        </div>
    </div>
</f:if>