<div class="{blockClass}__navigation">
    <f:if condition="!{isFirstPage}">
        <button type="submit"
                class="{blockClass}__navigation__button -prev {buttonClass}"
                formnovalidate
                formaction="{f:uri.action(action:'renderStep', arguments:{pageIndex:backStepPageIndex})}">
            {currentPage.prev_label}
        </button>
    </f:if>
    <button type="submit"
            class="{blockClass}__navigation__button -next {buttonClass}">
        {currentPage.next_label}
    </button>
</div>