
<f:if condition="{settings.spamProtection.honeypot.enabled}">
    <f:form.textfield autocomplete="off"
                      name="{settings.spamProtection.honeypot.fieldName}"
                      tabindex="-1" style="position:absolute;margin-left:-999em"/>
</f:if>
<f:if condition="{settings.spamProtection.focusPass.enabled}">
    <template data-shape-focus-pass-template>
        <f:form.textfield autocomplete="off"
                          name="{settings.spamProtection.focusPass.fieldName}"
                          data-focus-pass="{settings.spamProtection.focusPass.value}"
                          tabindex="-1" style="position:absolute;margin-left:-999em"/>
    </template>
</f:if>