<f:render partial="Field" contentAs="content" arguments="{_all}">
	<f:variable name="fieldAttributes" value="{field -> shape:fieldAttributes()}"/>
	<f:variable name="hasCustomValue"
				value="{f:if(condition:'!{option.value -> shape:inArray(haystack:field.value)} && {field.value}',then:true,else:false)}"/>

	<f:render partial="Control/Label" arguments="{_all}"/>
	<f:form.select name="{fieldAttributes.name}"
				   data-yf-control="{field.name}"
				   id="{fieldAttributes.id}"
				   disabled="{hasCustomValue}"
				   required="{fieldAttributes.required}"
				   readonly="{fieldAttributes.readonly}"
				   class="{blockClass}__control {blockClass}__{field.type}-control">
		<f:render partial="Control/GroupedOptions" arguments="{_all}"/>
	</f:form.select>

	<f:form.checkbox id="{fieldAttributes.id}--toggle"
					 value="1"
					 autocomplete="off"
					 checked="{hasCustomValue}"
					 onchange="this.parentElement.querySelectorAll('[data-yf-control]').forEach(el => el.toggleAttribute('disabled'))"/>
	<label class="{blockClass}__label -for-checkbox"
		   for="{fieldAttributes.id}--toggle">
		{f:translate(key:'label.enter_custom_value')}
	</label>
	<f:form.textfield name="{fieldAttributes.name}"
					  data-yf-control="{field.name}--custom"
					  id="{fieldAttributes.id}--custom"
					  disabled="{f:if(condition:hasCustomValue,then:false,else:true)}"
					  value="{f:if(condition:'{hasCustomValue}',then:field.value,else:'')}"
					  required="{fieldAttributes.required}"
					  readonly="{fieldAttributes.readonly}"
					  pattern="{field.pattern}"
					  maxlength="{field.maxlength}"
					  class="{blockClass}__control {blockClass}__{field.type}-control"/>

	<f:render partial="Control/Description" arguments="{_all}"/>
</f:render>