<f:render partial="Field" contentAs="content" arguments="{_all}">
	<f:render partial="Control/Label" arguments="{_all}"/>
	<f:form.countrySelect
			name="{namespace}[{field.name}]"
			value="{field.sessionValue}"
			id="{namespace}[{field.name}]"
			additionalAttributes="{shape:formFieldAttributes(field:field)}"
			class="{blockClass}__control {blockClass}__{field.type}-control"
			prependOptionLabel=" "
			prependOptionValue=""
			sortByOptionLabel="true"
			optionLabelField="localizedName"
			onlyCountries="{field.datalistArray}"
	/>
	<f:render partial="Control/Description" arguments="{_all}"/>
</f:render>