<f:render partial="Field" contentAs="content" arguments="{_all}">
	<f:variable name="fieldAttributes" value="{field -> shape:fieldAttributes()}"/>
	<f:render partial="Control/Label" arguments="{_all}"/>
	<f:form.countrySelect
			name="{fieldAttributes.name}"
			value="{field.value}"
			additionalAttributes="{fieldAttributes}"
			class="{blockClass}__control {blockClass}__{field.type}-control"
			prependOptionLabel=" "
			prependOptionValue=""
			sortByOptionLabel="true"
			optionLabelField="localizedName"
			onlyCountries="{field.datalistArray}"
	/>
	<f:render partial="Control/Description" arguments="{_all}"/>
</f:render>