<f:render partial="Field" contentAs="content" arguments="{_all}">
	<f:variable name="fieldAttributes" value="{field -> shape:fieldAttributes()}"/>
	<f:render partial="Control/Label" arguments="{_all}"/>
	<f:form.textfield name="{fieldAttributes.name}"
					  type="{field.type}"
					  value="{field.value}"
					  additionalAttributes="{fieldAttributes}"
					  class="{blockClass}__control {blockClass}__{field.type}-control"/>
	<f:if condition="{field.datalist}">
		<datalist id="{fieldAttributes.list}">
			<f:for each="{field.datalist -> shape:lineExplode()}" as="item">
				<option value="{item}"/>
			</f:for>
		</datalist>
	</f:if>
	<f:render partial="Control/Description" arguments="{_all}"/>
</f:render>