<f:render partial="Fieldwrap" contentAs="content" arguments="{_all}">
	<f:render partial="Fieldlabel" arguments="{_all}"/>
	<f:form.textfield
			name="{namespace}[{field.identifier}][]"
		    type="{field.type}"
		    additionalAttributes="{shape:formFieldAttributes(record:field)}"
			class="{blockClass}__{field.type} -{currentPage.type}-step"
			id="{fieldIdPrefix}{field.identifier}"/>
	<f:if condition="{session.filenames.{field.identifier}}">
		<div class="{blockClass}__filenames">
			<f:for each="{session.filenames.{field.identifier}}" as="filename">
				<div>{filename}</div>
			</f:for>
		</div>
	</f:if>
</f:render>