<f:render partial="Field" contentAs="content" arguments="{_all}">
	<f:render partial="Control/Label" arguments="{_all}"/>
	<f:form.textfield
			name="{namespace}[{field.name}][]"
		    type="{field.type}"
		    additionalAttributes="{shape:formFieldAttributes(field:field)}"
			class="{blockClass}__control {blockClass}__{field.type}-control"
			id="{namespace}[{field.name}]"/>
	<f:if condition="{field.sessionValue}">
		<div class="{blockClass}__file-uploads">
			<f:for each="{field.sessionValue}" as="uploadedFilePath">
				<div class="{blockClass}__file-upload">
					<f:form.hidden value="{uploadedFilePath}" name="{namespace}[{field.name}__PROXY][]"/>
					{shape:basename(path:uploadedFilePath) -> f:format.crop(maxCharacters:20)}
					<button class="{blockClass}__file-upload-remove"
							onclick="this.parentElement.remove()"
							aria-label="{f:translate(key:'label.remove_upload')}">⨯</button>
				</div>
			</f:for>
		</div>
	</f:if>
	<f:render partial="Control/Description" arguments="{_all}"/>
</f:render>