<f:render partial="Field" contentAs="content" arguments="{_all}">
    <f:variable name="fieldAttributes" value="{shape:fieldAttributes(field:field)}"/>
    <f:render partial="Control/Label" arguments="{_all}"/>
    <f:form.textfield name="{fieldAttributes.name}"
                      type="{field.type}"
                      additionalAttributes="{fieldAttributes}"
                      class="{blockClass}__control {blockClass}__{field.type}-control"/>
    <f:render partial="Control/Description" arguments="{_all}"/>
</f:render>