<f:render partial="Field" contentAs="content" arguments="{_all}">
    <f:variable name="fieldAttributes" value="{field -> shape:fieldAttributes()}"/>
    <f:variable name="value"
                value="{f:if(
                condition:'{field.sessionValue} && !{field.validationResult.errors}',
                then:field.sessionValue,
                else:''
                )}"/>

    <f:render partial="Control/Label" arguments="{_all}"/>
    <f:form.textfield name="{fieldAttributes.name}"
                      type="{field.type}"
                      value="{value}"
                      additionalAttributes="{fieldAttributes}"
                      class="{blockClass}__control {blockClass}__{field.type}-control"/>
    <f:render partial="Control/Description" arguments="{_all}"/>

    <f:if condition="{field.confirm_input}">
        <label class="{blockClass}__label {blockClass}__confirm__label -for-{field.type}" for="{fieldAttributes.id}-confirm">
            {f:translate(key:'label.confirm_input')}
            <f:render partial="Control/Required" arguments="{_all}"/>
        </label>
        <f:form.textfield name="{namespace}[{field.name}__CONFIRM]"
                          type="{field.type}"
                          value="{value}"
                          additionalAttributes="{fieldAttributes}"
                          id="{fieldAttributes.id}-confirm"
                          class="{blockClass}__control {blockClass}__{field.type}-control {blockClass}__confirm__control"/>
    </f:if>

</f:render>