<f:render partial="Field" contentAs="content" arguments="{_all}">
	<f:variable name="fieldAttributes" value="{field -> shape:field.attributes()}"/>
	<f:render partial="Control/HeaderLabel" arguments="{_all}"/>
	<f:for each="{field.field_options}" as="option" iteration="i">
		<f:if condition="{option.group_label}">
			<p class="{blockClass}__options-header">
				{option.group_label}
			</p>
		</f:if>
		<f:form.radio name="{fieldAttributes.name}"
					  checked="{field.value} == {option.value}"
					  value="{option.value}"
					  additionalAttributes="{fieldAttributes}"
					  class="{blockClass}__control {blockClass}__{field.type}-control"
					  id="{fieldAttributes.id}-{i.index}"/>
		<label class="{blockClass}__label -for-radio" for="{fieldAttributes.id}-{i.index}">{option.label}</label>
	</f:for>
	<f:render partial="Control/Description" arguments="{_all}"/>
</f:render>