<f:render partial="Field" contentAs="content" arguments="{_all}">
	<f:variable name="fieldAttributes" value="{field -> shape:fieldAttributes()}"/>
	<f:render partial="Control/Label" arguments="{_all}"/>
	<f:form.select name="{fieldAttributes.name}"
				   additionalAttributes="{fieldAttributes}"
				   class="{blockClass}__control {blockClass}__{field.type}-control">
		<f:for each="{field.field_options}" as="option">
			<f:form.select.option
				selected="{field.value} === {option.value}"
				value="{option.value}">{option.label}</f:form.select.option>
		</f:for>
	</f:form.select>
	<f:render partial="Control/Description" arguments="{_all}"/>
</f:render>