
.yform__form {
	--yf-field-width: 100%;
	--yf-gap: 1.5em;
	--yf-spacing: .5em;
	--yf-error-dark-color: #721c24;
	--yf-error-light-color: #f8d7da;
	--yf-file-upload-dark-color: #004085;
	--yf-file-upload-light-color: #cce5ff;

	* {
		box-sizing: border-box;
	}
}

.yform__page {
	padding-bottom: var(--yf-gap);
}

.yform__page__header {
	width: 100%;
	margin-bottom: var(--yf-gap);
	font-size: 150%;
}

.yform__fieldset {
	display: flex;
	flex-wrap: wrap;
	margin: calc(var(--yf-gap) / -2);
	padding: 0;
	border: none;
}

.yform__field {
	box-sizing: border-box;
	width: var(--yf-field-width);
	padding: calc(var(--yf-gap) / 2);
	@media (max-width: 768px) {
		min-width: 50%;
	}

	&.-summary-step {
		pointer-events: none;
		opacity: 0.8;
	}

	&.--hidden {
		display: none;
	}
}

.yform__label {
	display: block;
	margin-bottom: var(--yf-spacing);

	&.-for-checkbox, &.-for-radio {
		display: inline-block;
	}
}

.yform__control {
	width: 100%;

	&[disabled] {
		opacity: 0.6;
	}
}

.yform__description {
	margin-top: var(--yf-spacing);
	font-size: smaller;
}

.yform__error {
	display: none;
	width: fit-content;
	max-width: 100%;
	margin-top: var(--yf-spacing);
	padding: .5em .75em;
	font-size: smaller;
	line-height: 1.1;
	border-radius: 5px;

	&.--visible {
		display: block;
	}

	@media (prefers-color-scheme: dark) {
		color: var(--yf-error-light-color);
		background: var(--yf-error-dark-color);
	}
	@media (prefers-color-scheme: light) {
		color: var(--yf-error-dark-color);
		background: var(--yf-error-light-color);
	}
}

.yform__confirm__label {
	margin-top: var(--yf-spacing);
}

.yform__navigation {
	display: flex;
	margin-top: var(--yf-gap);
	gap: var(--yf-gap);
}

.yform__navigation__button.-next {
	margin-left: auto;
}

.yform__button {
	padding: 0.5em 1em;
	border: 2px solid currentColor;
	border-radius: 10px;
}

.yform__header-field {
	margin-top: var(--yf-gap);
}

.yform__checkbox-control,
.yform__radio-control,
.yform__multi-checkbox-control,
.yform__file-control {
	width: auto;
}

.yform__tag-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: var(--yf-spacing);
	gap: .5em;
}

.yform__tag {
	position: relative;
	padding: .5em .75em;
	font-size: smaller;
	line-height: 1.1;
	border-radius: 5px;

	&:has(.yform__tag__icon) {
		padding-right: 2em;
	}

	@media (prefers-color-scheme: dark) {
		color: var(--yf-file-upload-light-color);
		background: var(--yf-file-upload-dark-color);
	}
	@media (prefers-color-scheme: light) {
		color: var(--yf-file-upload-dark-color);
		background: var(--yf-file-upload-light-color);
	}
}

.yform__tag__icon {
	position: absolute;
	padding-left: .5em;

	svg {
		width: 1em;
		height: 1em;
		fill: currentColor;
	}
}

.yform__repeatable-container-field {
	width: 100%;
}

.yform__repeatable__list {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
}

@keyframes show-repeatable-item {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.yform__repeatable__item {
	width: 100%;
	padding: calc(var(--yf-gap) / 1);
	border: 1px solid color-mix(in srgb, currentColor 50%, transparent 50%);
	border-radius: 5px;
	animation: show-repeatable-item 0.4s;
	margin-block: calc(var(--yf-gap) / 2);
}

.yform__repeatable__fieldset {
	display: flex;
	flex-wrap: wrap;
	margin: calc(var(--yf-gap) / -2);
}

.yform__repeatable__add {
	margin-top: calc(var(--yf-gap) / 2);
}

.yform__repeatable__remove {
	display: block;
	margin-top: var(--yf-gap);
	margin-left: auto;
}