
.yform__form {
	--yf-field-width: 100%;
	--yf-gap: 1.5em;
	* {
		box-sizing: border-box;
	}
}
.yform__page {
	padding-bottom: var(--yf-gap);
}
.yform__page__header {
	width: 100%;
}
.yform__fieldset {
	display: flex;
	flex-wrap: wrap;
	margin: calc(var(--yf-gap) / -2);
	padding: 0;
	border: none;
}

.yform__field {
	width: var(--yf-field-width);
	padding: calc(var(--yf-gap) / 2);
	box-sizing: border-box;
	@media(max-width: 768px) {
		min-width: 50%;
	}
	&.-type-header {
		margin-top: var(--yf-gap);
	}
	&.-type-repeatable-container {
		width: 100%;
		&.-summary-step button {
			display: none;
		}
	}
	&.-summary-step {
		opacity: 0.8;
		pointer-events: none;
	}
	&.-hidden {
		display: none;
	}
}

.yform__label {
	margin-bottom: .5em;
	display: block;
	&.-for-checkbox, &.-for-radio {
		display: inline-block;
	}
}
.yform__control {
	width: 100%;
}
.yform__checkbox-control,
.yform__radio-control,
.yform__multi-checkbox-control,
.yform__file-control{
	width: auto;
}

.yform__description {
	margin-top: .5em;
	font-size: smaller;
}
.yform__error {
	display: none;
	width: fit-content;
	max-width: 100%;
	margin-top: .5em;
	font-size: smaller;
	padding: .5em .75em;
	border-radius: 5px;
	&.-visible {
		display: block;
	}
	@media(prefers-color-scheme: dark) {
		color: #f8d7da;
		background: #721c24;
	}
	@media(prefers-color-scheme: light) {
		color: #721c24;
		background: #f8d7da;
	}
}

.yform__navigation {
	display: flex;
	margin-top: var(--yf-gap);
	gap: var(--yf-gap);
}
.yform__navigation__button.-next {
	margin-left: auto;
}
.yform__button {
	padding: 0.5em 1em;
	border: 2px solid currentColor;
	border-radius: 10px;
}

.yform__repeatable__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}
@keyframes show-repeatable-item {
	from {
		opacity: 0;
	} to {
			opacity: 1;
		}
}
.yform__repeatable__item {
	width: 100%;
	padding: calc(var(--yf-gap) / 1);
	border: 1px solid color-mix(in srgb, currentColor 50%, transparent 50%);
	border-radius: 5px;
	animation: show-repeatable-item 0.4s;
	margin-block: calc(var(--yf-gap) / 2);
}
.yform__repeatable__fieldset {
	display: flex;
	flex-wrap: wrap;
	margin: calc(var(--yf-gap) / -2);
}
.yform__repeatable__add {
	margin-top: calc(var(--yf-gap) / 2);
}
.yform__repeatable__remove {
	display: block;
	margin-top: var(--yf-gap);
	margin-left: auto;
}