<f:variable name="blockClass" value="yform"/>
<f:variable name="buttonClass" value="yform__button"/>

<f:render partial="Assets"/>

<f:if condition="{messages}">
    <f:render partial="Assets"/>
    <section id="c{plugin.uid}" class="{blockClass}__section">
        <f:render partial="Messages" arguments="{_all}"/>
    </section>
</f:if>

<f:if condition="{verificationLink}">
    <section id="c{plugin.uid}" class="{blockClass}__section">
        <button onclick="window.open('{verificationLink}', '_top')" class="{buttonClass}">
            {f:translate(key: 'label.confirm_consent_{status.name -> f:format.case(mode:\'lower\')}')}
        </button>
    </section>
</f:if>
